@use "styles/tokens/spacing" as s;
@use "styles/utils/media" as media;

.authlayout {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  padding: s.$gap-5;

  &__panel {
    width: 100%;
    max-width: 400px;

    @include media.tablet-up {
      padding: s.$gap-5;
    }
  }
}
