@use "styles/tokens/spacing" as s;
@use "styles/tokens/typography" as t;

.formfield {
  display: flex;
  flex-direction: column;
  gap: s.$gap-3;

  &__label {
    display: inline-flex;
    align-items: center;
    gap: 2px;
    color: var(--text-secondary);

    @include t.label-small;

    &--hidden {
      position: absolute;
      width: 1px;
      height: 1px;
      overflow: hidden;
      clip-path: inset(50%);
      white-space: nowrap;
    }
  }

  &__required {
    color: var(--status-error);
  }

  &__hint {
    color: var(--text-tertiary);

    @include t.body-small;
  }

  &__error {
    color: var(--status-error);

    @include t.body-small;
  }
}
