@use "styles/tokens/spacing" as s;
@use "styles/tokens/typography" as t;

.accountsection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: s.$gap-4;

  &__note {
    color: var(--text-tertiary);

    @include t.body-small;
  }
}
